@model IEnumerable<bkit.Models.DataModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2>List of books</h2>

<table class="table">
    <tr style="border-bottom: 1px solid #198754;">
        <th>
            Id
        </th>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            In stock
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{  
    <tr style="border-bottom: 1px solid #198754;">
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            <button style="border: none; background: none">
                @Html.ActionLink(" ", "Edit", new {Id = item.id}, new {@class="fa-solid fa-file-pen fa-xl", @style="color: #198754;"})
            </button>
            &nbsp;&nbsp;
            <button style="border: none; background: none">
                @Html.ActionLink(" ", "Delete", new {Id = item.id}, new {@class="fa-solid fa-trash fa-xl", @style="color: #198754;"})
            </button>
        </td>
    </tr>
}
</table>
</div>
